#workspace > .window[name="system_explorer"] > .content > p {
    background-image: url('../../icons/system/black/code.png');
    background-repeat: no-repeat;
    background-size: 1em 1em;
    background-position: 0.5em center;
    margin: 0;
    padding: 1em 1em 1em 2em;
}

#workspace > .window[name="system_explorer"] > .content > p:not(:last-child) {
    border-bottom: 1px solid #0002;
}

#workspace > .window[name="system_explorer"] > .content > p > button {
    background: none;
    border: none;
    border-left: 1px solid #0002;
    padding: 2px 10px;
    /* width: 100px; */
    text-align: center;
    font-family: inherit;
    cursor: pointer;
    float: right;
}

#workspace > .window[name="system_explorer"] > .content > p > button.red {
    color: red;
}

#workspace > .window[name="system_explorer"] > .content > p > button > .material-icons {
    font-size: 16px;
}